<style>
    .table-hover tbody tr:hover {
        background-color: rgba(0, 0, 0, .075) !important;
    }
</style>
{{>sidebar_admin user}}
<div class="main-panel">
    <!-- Navbar -->
    {{>header_admin}}
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <a href="#" data-toggle="modal" data-target="#modalEditProduct">
                                    <i class="material-icons" style="color: #fff;">add</i>
                                </a>
                            </div>
                            <h4 class="card-title" style="font-size: 29px; font-weight: 600;">Hoá đơn

                            </h4>

                        </div>
                        <div class="card-body">
                            <div class="toolbar">
                            </div>
                            <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                    cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Mã hoá đơn</th>
                                            <th>Ngày đăng kí</th>
                                            <th>SĐT</th>
                                            <th>Tổng Tiền</th>
                                            <th>Danh Sách</th>
                                            <th>Tình trạng</th>
                                            <th class="disabled-sorting text-right"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th class="disabled-sorting">Mã hoá đơn</th>
                                            <th>Ngày đăng kí</th>
                                            <th>SĐT</th>
                                            <th>Tổng Tiền</th>
                                            <th>Danh Sách</th>
                                            <th>Tình trạng</th>
                                            <th class="text-right"></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {{#each orders}}
                                        <tr>
                                            <td>{{_id}}</td>
                                            <td>
                                                <div>{{createDate}}</div>
                                            </td>
                                            <td>{{phone}}</td>
                                            <td>{{formatMoney totalBill}}</td>
                                            <td>
                                                {{#each orderItem}}
                                                <div class="person" id="person{{_id}}">
                                                    <a href="#" id="click_{{_id}}" data-toggle="modal"
                                                        data-target="#modalOrderItem"
                                                        data-whatever="{{json this}}">{{name}}</a>
                                                    <a href="#" onclick="deleteOrderItem('{{_id}}')"><i
                                                            class="material-icons">close</i></a>
                                                </div>

                                                {{/each}}
                                            </td>

                                            <td>
                                                <div>{{status}}</div>
                                            </td>
                                            <td class="text-right">
                                                <a href="#" class="btn btn-link btn-warning btn-just-icon edit"
                                                    data-toggle="modal" data-target="#modalEditProduct"
                                                    data-whatever=""><i class="material-icons">dvr</i></a>
                                                <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i
                                                        class="material-icons">close</i></a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
    </div>
</div>

<!-- Classic Modal -->
<div class="modal fade modal-xl" id="modalEditProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 960px;">
        <div class="modal-content modal-xl">
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<div class="modal fade modal-xl" id="modalOrderItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 960px;">
        <div class="modal-content modal-xl">
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-no-bordered table-hover" width="100%"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th>Tên Vaccine</th>
                                    <th>Giá</th>
                                    <th>Ngày hẹn</th>
                                    <th>Địa chỉ tiêm</th>
                                    <th>Tình trạng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="items">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>script}}

<script>
    var refresh_data = false
    $(document).ready(function () {
        $(function () {
            console.log(location.hash)
            $(location.hash).click()
        });
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 20, 50, -1],
                [10, 20, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            },
        });
        var table = $('#datatables').DataTable();
        // Edit record
        table.on('click', '.edit', function () {
            $tr = $(this).closest('tr');
            var data = table.row($tr).data();
        });
        // Delete a record
        table.on('click', '.remove', function (e) {
            $tr = $(this).closest('tr');
            table.row($tr).remove().draw();
            e.preventDefault();
        });

        $('#modalOrderItem').on('show.bs.modal', function (event) {

            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find("#items").empty()
            console.log(recipient)
            modal.find(".card-header").html(`<h3>${recipient.name}</h3>`)

            for (const key in recipient.items) {
                const element = recipient.items[key]
                modal.find("#items").append(`
                                <tr id="item${element.vaccine._id}">
                                    <td>${element.vaccine.name}</td>
                                    <td>${formatMoney(element.price)}</td>
                                    <td style="display: flex; align-items: center;">
                                         <div class="form-group">
                                            <input type="text" class="form-control datetimepicker" id="inject_${recipient._id}_${element.vaccine._id}" value="${element.injectionTime ? date2str(new Date(element.injectionTime), 'MM/dd/yyyy hh:ss') : ''}">
                                        </div>
                                        <button class="btn btn-link btn-primary btn-just-icon" onclick="setInjectTime('${recipient._id}','${element.vaccine._id}')"><i class="material-icons">done</i></button>
                                    </td>
                                    <td>${recipient.addressVNCVC}</td>
                                    <td>${element.isInject ? "Đã tiêm" : "Chưa tiêm"}</td>
                                    <td><button class="btn btn-link btn-primary btn-just-icon" onclick="deleteOrderItemProduct('${recipient._id}','${element.vaccine._id}')"><i class="material-icons">close</i></button></td>
                                </tr>
                `)
            }
            $('.datetimepicker').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove'
                }
            });

        })
        $("#modalOrderItem").on("hidden.bs.modal", function () {
            // put your default event here
            if(refresh_data){
                location.reload();
                refresh_data=false;
            }
        });
        if ($('.slider').length != 0) {
            md.initSliders();
        }
    });
    function deleteOrderItemProduct(orderItemId, vaccineId) {
        var check = confirm("Bạn muốn xoá vaccine")
        if (check) {
            $.ajax({
                url: "/admin/order/delete/orderItem/product",
                type: "delete",
                data: { orderItemId: orderItemId, vaccineId: vaccineId },
                success: function (res) {
                    $("#item"+vaccineId).remove()
                    refresh_data = true;
                }

            })
        }
    }
    function date2str(x, y) {
        var z = {
            M: x.getMonth() + 1,
            d: x.getDate(),
            h: x.getHours(),
            m: x.getMinutes(),
            s: x.getSeconds()
        };
        y = y.replace(/(M+|d+|h+|m+|s+)/g, function (v) {
            return ((v.length > 1 ? "0" : "") + z[v.slice(-1)]).slice(-2)
        });

        return y.replace(/(y+)/g, function (v) {
            return x.getFullYear().toString().slice(-v.length)
        });
    }
    function deleteOrderItem(orderItemId) {
        var check = confirm("Bạn muốn xoá orderItem")
        if (check) {
            $.ajax({
                url: "/admin/order/delete/orderItem",
                type: "delete",
                data: { _id: orderItemId },
                success: function (res) {
                    location.reload();          
                }

            })
        }
    }
    function setInjectTime(orderItemId, vaccineId) {
        const injectTime = $(`#inject_${orderItemId}_${vaccineId}`).val()

        if (!injectTime) {
            return alert("Vui lòng nhập ngày tiêm");
        }
        $.ajax({
            url: "/admin/order/inject-time",
            type: "post",
            data: { orderItemId: orderItemId, vaccineId: vaccineId, inJectTime: new Date(injectTime) },
            success: function (res) {
                alert("Thêm thành công");
                refresh_data = true
            }

        })
    }

</script>