<div class="left-sidebar">
    <h2>Danh mục</h2>
    <div class="panel-group category-products" id="accordian">
        {{#each categories}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">{{label}}</a></h4>
            </div>
        </div>
        {{/each}}
        <!--category-productsr-->
        {{!-- {{#each categories}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#{{value}}" href="#{{value}}">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        {{label}}
                    </a>
                </h4>
            </div>
            {{#if children}}
            <div id="{{value}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        {{#each children}}
                        <li><a href="#">{{label}} </a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/if}}
        </div>
        {{/each}} --}}
    </div>
    <!--/category-products-->
</div>